doctype html
html
	head
		include head.jade	
	body
	block content
		.container
			.header.column.three
				include header.jade
			.wrapper.column.six
				include wrapper.jade
			.footer.column.full
				include footer.jade
