.container {
	width: 1200px;
	position: relative;
	margin: 0 auto;
}
.column {
	display: inline-level;
	float: left;
}
.one {
	width: 100px;
}
.two {
	width: 200px;
}
.three {
	width: 300px;
}
.four {
	width: 400px;
}
.five {
	width: 500px;
}
.six {
	width: 600px;
}
.seven {
	width: 700px;
}
.eight {
	width: 800px;
}
.nine {
	width: 900px;
}
.ten {
	width: 1000px;
}
.eleven {
	width: 1100px;
}
.full {
	width: 1200px;
}

body {
	font-family: "Arial", Helvetica, Serif;
}
.header {
	position: fixed;
}
.wrapper {
	float: right;
	display: block;
}

h1 {
	font-size: 2em;
	text-align: center;
	background-color: blueviolet;
}
h3 {
	font-size: 1.6em;
	text-align: center;
}

nav {
	margin: 0 auto;
}
nav ul li {
	width: 130px;
	height: 130px;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	display: inline-block;
	background-color: linen;
	transition: ease 400ms;
}
nav ul li:hover {
	background-color: lavender;
	border-bottom: solid 6px peachpuff;
}
nav a {
	font-size: 1.5rem;
	text-decoration: none;
	line-height: 130px;
	color: rgb(50, 50, 50);
	display: inline-grid;
}
nav a:visited {color: rgb(50, 50, 50);}

p, .wrapper a, h2 {
	margin: 0.5em 1em;
}
p {font-size: 1.2rem;}
h2 {font-size: 2em;}